@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.img {
  filter: drop-shadow(2px 2px 8px #797979);
}
.imgcart > svg > path:nth-child(2) {
  fill: #3d3d3d;
}

/* Visa Card Slider */

.keen-slider:not([data-keen-slider-disabled]) {
  overflow: visible !important;
}

[class^="number-slide"],
[class*=" number-slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}
/* .keen-slider__slide.active {
  transition: transform 0.4s; 
} */

.keen-slider__slide.active {
  /* transform: scaleX(1.1) !important; */
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #8f8f8f;
}
